@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Just+Another+Hand&family=Merienda:wght@300..900&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.double-divider {
  height: 2px;
  border: 1.5px solid #000;
  border-style: dashed;
  border-right: 0;
  border-left: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  font-family: "Merienda", cursive;

  &:focus {
    border: 0;
    outline: none !important;
  }
}

.text-center {
  text-align: center;
}